@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,400;1,700&display=swap");
body {
  font-family: "Source Sans Pro", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  padding-bottom: 4em;
}
.back-to-shopping {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: #fff;
  font-weight: 700;
  transition: all 250ms ease;
}

.back-to-shopping:hover {
  transform: scale(1.2);
}

.check-out {
  margin: 0 auto;
  text-align: center;
  margin-top: 0.75em;
  font-size: 3em;
  letter-spacing: 3px;
  margin-bottom: 1em;
}

.all-items-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 2em auto;
  margin-bottom: 0.5em;
  justify-content: center;
  width: 90%;
}

.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.bin-and-image {
  display: flex;
  align-items: center;
  column-gap: 1em;
}

.buyImg {
  max-width: 240px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.buyImg:hover {
  transform: scale(1.05);
  filter: brightness(125%);
}

.btn-delete,
.btn-delete:focus {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  font-size: 1em;
  outline: none;
  position: relative;
}

.btn-delete:hover {
  color: rgba(255, 0, 0, 0.7);
  outline: none;
}

.btn-delete i {
  position: relative;
  z-index: -1;
}

.messages {
  max-width: 800px;
  margin: 0 auto;
  display: block;
  width: 90%;
}

.messages .total {
  text-align: end;
  margin-left: auto;
}

.messages .no-items-msg {
  text-align: start;
  font-style: italic;
  letter-spacing: 1.3px;
}

.order-btn {
  display: block;
  padding: 1em 2em;
  font-size: 1em;
  font-family: "Source Sans Pro", sans-serif;
  cursor: pointer;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  border: 3px solid rgba(255, 255, 255, 0.2);
  margin: 0 auto;
  margin-top: 2em;
  outline: none;
}

.order-btn:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}

.successful-message {
  text-align: center;
  margin-top: 3em;
  letter-spacing: 3px;
}

@media (max-width: 600px) {
  .buyImg {
    max-width: 120px;
  }
}
