* {
  box-sizing: border-box;
}

.grid-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 2em auto;
  align-items: start;
  column-gap: 1em;
  row-gap: 3em;
}

.img-container {
  max-width: 300px;
  max-height: 250px;
  overflow: hidden;
}

.image {
  max-width: 300px;
  max-height: 250px;
  transition: all 0.4s ease;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.image:hover {
  transform: scale(1.2);
  filter: brightness(125%);
}

.content-container-default {
  margin: 0 auto;
  box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.5);
}

.content-container-willBuy-Favorite {
  margin: 0 auto;
  box-shadow: -3px -3px 10px 0px rgb(19, 216, 19),
    3px 3px 10px 0px rgb(236, 16, 16);
}

.content-container-willBuy {
  margin: 0 auto;
  box-shadow: -3px -3px 10px 0px rgb(19, 216, 19);
}

.content-container-Favorite {
  margin: 0 auto;
  box-shadow: 3px 3px 10px 0px rgb(236, 16, 16);
}

.button-container {
  display: flex;
  padding: 0.75em 0;
  margin: 0;
  justify-content: space-around;
}

.button-container button {
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  font-size: 1.8em;
  outline: none;
}

.favoriteBtn:hover {
  color: rgb(206, 23, 23);
}

.cartBtn:hover {
  color: rgb(30, 192, 30);
}

.classForCheckedFav {
  color: rgb(206, 23, 23);
}

.classForCheckedCart {
  color: rgb(30, 192, 30);
}
button i {
  position: relative;
  z-index: -1;
}
